@import '../../../css/vars';

.contentBlock {
  background: $primaryBackground;

  @include breakpoint($tablet) {
    margin-right: 30px;
    margin-left: 30px;
  }
  padding-bottom: 80px;
  .contentBlock-wrapper {
    position: relative;

    display: flex;

    margin: auto;

    flex-wrap: wrap;
    justify-content: center;
    @include container(1140px);
    @include show-grid();
    &:before {
      position: absolute;
      top: -29px;
      left: 50%;

      display: block;

      width: 50px;
      height: 50px;

      content: '';
      transform: translateX(-50%) rotate(45deg);

      background: white;
    }
    & > *:first-child {
      padding-top: 10rem;
    }
  }
  .content {
    display: flex;
    // display: flex;
    // flex-wrap: wrap;
    flex-direction: row;

    text-align: center;

    justify-content: center;
    flex-grow: 1;
    > * {
      // width: span(4);
      // margin: 0 span(3);
      flex-basis: span(8);
      @include breakpoint($desktop) {
        flex-basis: span(6);
      }

      flex-grow: 0;
    }
    h4 {
      margin-bottom: 3.8961038961em;
    }
    p {
      @extend %copy;
    }
    .image {
      width: span(10);
      margin: 0;
    }
    // p img{
    //     margin-left: span(2.5 of 4) * -1;
    //     // flex-basis: 100%;
    //     // width: span(10);
    //     // margin-left: -100%;
    //     // margin-right: -100%;
    // }
  }
  .image {
    flex-basis: 100%;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
