@import '../../../css/vars';
.color-wrapper {
	// display: flex;
	// flex-flow: row wrap;
	// justify-content: space-between;
	// align-items: stretch;
}
.color {
	text-align: center;
	padding: 10px;
	width: 200px;
	display: inline-block;
	&-name {
		@extend %copy;
	}
	&-box {
		display: block;
		width: 100%;
		height: 50px;
		border: 1px solid #f2f2f2;
	}

	&--black .color-box{
		background: black;
	}
	&--primaryColor .color-box{
		background: $primaryColor;
	}
	&--secondaryColor .color-box{
		background: $secondaryColor;
	}
	&--primaryBackground .color-box{
		background: $primaryBackground;
	}
	&--secondaryBackground .color-box{
		background: $secondaryBackground;
	}
}