@import '../../../css/vars';

.divider,
hr {
  width: 2px;
  height: 70px;
  margin: 0 calc(50% - 2px/2);
  // transform: translateX(-50%);

  border: none;
  background-color: $primaryColor;
  &--dark {
    background-color: $primaryColor;
  }
  &--light {
    background-color: $primaryBackground;
  }
  &--no-top-margin {
    margin-top: 0;
  }
  &--no-bottom-margin {
    margin-bottom: 0;
  }
  &--small {
    height: 35px;
  }
}
