.contentToggle {
  // height: 3.2rem;

  &-label {
    cursor: pointer;
    .icon {
      transition: transform 0.2s ease-out;
      transform: rotate(-90deg);
      transform-origin: center center;
      margin: auto 5px;
    }
  }
  input[type='checkbox'],
  input[type='radio'] {
    opacity: 0;
    height: 1px;
    width: 1px;
    &:checked {
      & + .contentToggle-label .icon {
        transform: rotate(0deg);
      }
      & ~ .contentToggle-content {
        max-height: 10000px;
        height: auto;
        margin-top: 3.5rem;
      }
    }
  }
  &-content {
    transition: max-height 0.1s;
    max-height: 0;
    overflow: hidden;
  }
}
